@charset "UTF-8";


/* --- Colors --- */
$font-blue: #282759 !default;
$font-color: #3c3c3b !default;
$bg-blue: #171735 !default;
$bg-grey: #f4f4f4 !default;
$golden: #b0976d !default;
$border-grey: #c5c5c4 !default;

/* --- Fonts --- */ 
$font-georgia: Georgia, Times, "Times New Roman", serif !default;

/* --- Responsive --- */ 
$tablet: 1060px !default;
$mobile-large: 810px !default;
$mobile-small: 810px !default;