/*
Comment everything not useful for the current project
*/
/* --- Base --- */
/* --- PX to EM --- */
/* --- Colors --- */
/* --- Fonts --- */
/* --- Responsive --- */
/* --- * --- */
* {
  box-sizing: border-box; }

/* --- Body --- */
body {
  margin: 0;
  padding: 1em;
  background-color: #fff; }

/* --- Lists --- */
/* --- Forms --- */
input,
textarea,
select,
button {
  font-size: 1em;
  vertical-align: middle; }

textarea {
  resize: vertical; }

input[type="submit"],
button {
  cursor: pointer; }

/* --- Nav --- */
nav ul {
  list-style: none; }

nav a {
  text-decoration: none; }

/*Font-face declaration example*/
html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */ }

body {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  line-height: 1.35; }

/* --- Vendors --- */
/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */
[class*="grid"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem; }

.col,
[class*="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 1rem 1rem; }

.col {
  flex: 1 1 0%; }

.grid.col,
.grid[class*="col-"] {
  margin: 0;
  padding: 0; }

/************************
    HELPERS SUFFIXES
*************************/
[class*="grid-"][class*="-noGutter"] {
  margin: 0; }
  [class*="grid-"][class*="-noGutter"] > [class*="col"] {
    padding: 0; }
[class*="grid-"][class*="-noWrap"] {
  flex-wrap: nowrap; }
[class*="grid-"][class*="-center"] {
  justify-content: center; }
[class*="grid-"][class*="-right"] {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto; }
[class*="grid-"][class*="-top"] {
  align-items: flex-start; }
[class*="grid-"][class*="-middle"] {
  align-items: center; }
[class*="grid-"][class*="-bottom"] {
  align-items: flex-end; }
[class*="grid-"][class*="-reverse"] {
  flex-direction: row-reverse; }
[class*="grid-"][class*="-column"] {
  flex-direction: column; }
  [class*="grid-"][class*="-column"] > [class*="col-"] {
    flex-basis: auto; }
[class*="grid-"][class*="-column-reverse"] {
  flex-direction: column-reverse; }
[class*="grid-"][class*="-spaceBetween"] {
  justify-content: space-between; }
[class*="grid-"][class*="-spaceAround"] {
  justify-content: space-around; }
[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
  display: flex; }
  [class*="grid-"][class*="-equalHeight"] > [class*="col"] > * {
    flex: 1; }
[class*="grid-"][class*="-noBottom"] > [class*="col"] {
  padding-bottom: 0; }

[class*="col-"][class*="-top"] {
  align-self: flex-start; }
[class*="col-"][class*="-middle"] {
  align-self: center; }
[class*="col-"][class*="-bottom"] {
  align-self: flex-end; }
[class*="col-"][class*="-first"] {
  order: -1; }
[class*="col-"][class*="-last"] {
  order: 1; }

/************************
    GRID BY NUMBER
*************************/
[class*="grid-1"] > .col, [class*="grid-1"] > [class*='col-'] {
  flex-basis: 100%;
  max-width: 100%; }

[class*="grid-2"] > .col, [class*="grid-2"] > [class*='col-'] {
  flex-basis: 50%;
  max-width: 50%; }

[class*="grid-3"] > .col, [class*="grid-3"] > [class*='col-'] {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

[class*="grid-4"] > .col, [class*="grid-4"] > [class*='col-'] {
  flex-basis: 25%;
  max-width: 25%; }

[class*="grid-5"] > .col, [class*="grid-5"] > [class*='col-'] {
  flex-basis: 20%;
  max-width: 20%; }

[class*="grid-6"] > .col, [class*="grid-6"] > [class*='col-'] {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

[class*="grid-7"] > .col, [class*="grid-7"] > [class*='col-'] {
  flex-basis: 14.28571%;
  max-width: 14.28571%; }

[class*="grid-8"] > .col, [class*="grid-8"] > [class*='col-'] {
  flex-basis: 12.5%;
  max-width: 12.5%; }

[class*="grid-9"] > .col, [class*="grid-9"] > [class*='col-'] {
  flex-basis: 11.11111%;
  max-width: 11.11111%; }

[class*="grid-10"] > .col, [class*="grid-10"] > [class*='col-'] {
  flex-basis: 10%;
  max-width: 10%; }

[class*="grid-11"] > .col, [class*="grid-11"] > [class*='col-'] {
  flex-basis: 9.09091%;
  max-width: 9.09091%; }

[class*="grid-12"] > .col, [class*="grid-12"] > [class*='col-'] {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

@media screen and (max-width: 80em) {
  [class*="_lg-1"] > .col, [class*="_lg-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_lg-2"] > .col, [class*="_lg-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_lg-3"] > .col, [class*="_lg-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_lg-4"] > .col, [class*="_lg-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_lg-5"] > .col, [class*="_lg-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_lg-6"] > .col, [class*="_lg-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_lg-7"] > .col, [class*="_lg-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_lg-8"] > .col, [class*="_lg-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_lg-9"] > .col, [class*="_lg-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_lg-10"] > .col, [class*="_lg-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_lg-11"] > .col, [class*="_lg-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_lg-12"] > .col, [class*="_lg-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
@media screen and (max-width: 64em) {
  [class*="_md-1"] > .col, [class*="_md-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_md-2"] > .col, [class*="_md-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_md-3"] > .col, [class*="_md-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_md-4"] > .col, [class*="_md-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_md-5"] > .col, [class*="_md-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_md-6"] > .col, [class*="_md-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_md-7"] > .col, [class*="_md-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_md-8"] > .col, [class*="_md-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_md-9"] > .col, [class*="_md-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_md-10"] > .col, [class*="_md-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_md-11"] > .col, [class*="_md-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_md-12"] > .col, [class*="_md-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
@media screen and (max-width: 48em) {
  [class*="_sm-1"] > .col, [class*="_sm-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_sm-2"] > .col, [class*="_sm-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_sm-3"] > .col, [class*="_sm-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_sm-4"] > .col, [class*="_sm-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_sm-5"] > .col, [class*="_sm-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_sm-6"] > .col, [class*="_sm-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_sm-7"] > .col, [class*="_sm-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_sm-8"] > .col, [class*="_sm-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_sm-9"] > .col, [class*="_sm-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_sm-10"] > .col, [class*="_sm-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_sm-11"] > .col, [class*="_sm-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_sm-12"] > .col, [class*="_sm-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
@media screen and (max-width: 35.5em) {
  [class*="_xs-1"] > .col, [class*="_xs-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_xs-2"] > .col, [class*="_xs-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_xs-3"] > .col, [class*="_xs-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_xs-4"] > .col, [class*="_xs-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_xs-5"] > .col, [class*="_xs-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_xs-6"] > .col, [class*="_xs-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_xs-7"] > .col, [class*="_xs-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_xs-8"] > .col, [class*="_xs-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_xs-9"] > .col, [class*="_xs-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_xs-10"] > .col, [class*="_xs-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_xs-11"] > .col, [class*="_xs-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_xs-12"] > .col, [class*="_xs-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
/************************
    COLS SIZES
*************************/
[class*='grid'] > [class*="col-1"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }
[class*='grid'] > [class*="col-2"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }
[class*='grid'] > [class*="col-3"] {
  flex-basis: 25%;
  max-width: 25%; }
[class*='grid'] > [class*="col-4"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }
[class*='grid'] > [class*="col-5"] {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }
[class*='grid'] > [class*="col-6"] {
  flex-basis: 50%;
  max-width: 50%; }
[class*='grid'] > [class*="col-7"] {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }
[class*='grid'] > [class*="col-8"] {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }
[class*='grid'] > [class*="col-9"] {
  flex-basis: 75%;
  max-width: 75%; }
[class*='grid'] > [class*="col-10"] {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }
[class*='grid'] > [class*="col-11"] {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }
[class*='grid'] > [class*="col-12"] {
  flex-basis: 100%;
  max-width: 100%; }

[class*="grid"] > [data-push-left*="off-0"] {
  margin-left: 0; }
[class*="grid"] > [data-push-left*="off-1"] {
  margin-left: 8.33333%; }
[class*="grid"] > [data-push-left*="off-2"] {
  margin-left: 16.66667%; }
[class*="grid"] > [data-push-left*="off-3"] {
  margin-left: 25%; }
[class*="grid"] > [data-push-left*="off-4"] {
  margin-left: 33.33333%; }
[class*="grid"] > [data-push-left*="off-5"] {
  margin-left: 41.66667%; }
[class*="grid"] > [data-push-left*="off-6"] {
  margin-left: 50%; }
[class*="grid"] > [data-push-left*="off-7"] {
  margin-left: 58.33333%; }
[class*="grid"] > [data-push-left*="off-8"] {
  margin-left: 66.66667%; }
[class*="grid"] > [data-push-left*="off-9"] {
  margin-left: 75%; }
[class*="grid"] > [data-push-left*="off-10"] {
  margin-left: 83.33333%; }
[class*="grid"] > [data-push-left*="off-11"] {
  margin-left: 91.66667%; }
[class*="grid"] > [data-push-right*="off-0"] {
  margin-right: 0; }
[class*="grid"] > [data-push-right*="off-1"] {
  margin-right: 8.33333%; }
[class*="grid"] > [data-push-right*="off-2"] {
  margin-right: 16.66667%; }
[class*="grid"] > [data-push-right*="off-3"] {
  margin-right: 25%; }
[class*="grid"] > [data-push-right*="off-4"] {
  margin-right: 33.33333%; }
[class*="grid"] > [data-push-right*="off-5"] {
  margin-right: 41.66667%; }
[class*="grid"] > [data-push-right*="off-6"] {
  margin-right: 50%; }
[class*="grid"] > [data-push-right*="off-7"] {
  margin-right: 58.33333%; }
[class*="grid"] > [data-push-right*="off-8"] {
  margin-right: 66.66667%; }
[class*="grid"] > [data-push-right*="off-9"] {
  margin-right: 75%; }
[class*="grid"] > [data-push-right*="off-10"] {
  margin-right: 83.33333%; }
[class*="grid"] > [data-push-right*="off-11"] {
  margin-right: 91.66667%; }

@media screen and (max-width: 80em) {
  [class*='grid'] > [class*="_lg-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_lg-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_lg-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_lg-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_lg-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_lg-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_lg-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_lg-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_lg-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_lg-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_lg-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_lg-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="grid"] > [data-push-left*="_lg-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_lg-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_lg-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_lg-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_lg-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_lg-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_lg-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_lg-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_lg-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_lg-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_lg-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_lg-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_lg-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_lg-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_lg-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_lg-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_lg-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_lg-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_lg-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_lg-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_lg-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_lg-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_lg-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_lg-11"] {
    margin-right: 91.66667%; } }
@media screen and (max-width: 64em) {
  [class*='grid'] > [class*="_md-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_md-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_md-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_md-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_md-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_md-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_md-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_md-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_md-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_md-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_md-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_md-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="grid"] > [data-push-left*="_md-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_md-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_md-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_md-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_md-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_md-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_md-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_md-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_md-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_md-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_md-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_md-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_md-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_md-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_md-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_md-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_md-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_md-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_md-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_md-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_md-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_md-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_md-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_md-11"] {
    margin-right: 91.66667%; } }
@media screen and (max-width: 48em) {
  [class*='grid'] > [class*="_sm-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_sm-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_sm-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_sm-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_sm-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_sm-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_sm-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_sm-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_sm-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_sm-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_sm-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_sm-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="grid"] > [data-push-left*="_sm-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_sm-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_sm-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_sm-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_sm-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_sm-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_sm-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_sm-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_sm-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_sm-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_sm-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_sm-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_sm-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_sm-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_sm-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_sm-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_sm-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_sm-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_sm-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_sm-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_sm-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_sm-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_sm-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_sm-11"] {
    margin-right: 91.66667%; } }
@media screen and (max-width: 35.5em) {
  [class*='grid'] > [class*="_xs-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_xs-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_xs-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_xs-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_xs-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_xs-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_xs-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_xs-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_xs-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_xs-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_xs-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_xs-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="grid"] > [data-push-left*="_xs-0"] {
    margin-left: 0; }
  [class*="grid"] > [data-push-left*="_xs-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-left*="_xs-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-left*="_xs-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-left*="_xs-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-left*="_xs-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-left*="_xs-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-left*="_xs-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-left*="_xs-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-left*="_xs-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-left*="_xs-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-left*="_xs-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_xs-0"] {
    margin-right: 0; }
  [class*="grid"] > [data-push-right*="_xs-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-right*="_xs-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-right*="_xs-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-right*="_xs-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-right*="_xs-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-right*="_xs-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-right*="_xs-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-right*="_xs-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-right*="_xs-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-right*="_xs-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-right*="_xs-11"] {
    margin-right: 91.66667%; } }
/************************
    HIDING COLS
*************************/
[class*="col-"]:not([class*="col-0"]) {
  display: block; }

[class*="grid"][class*="col-"]:not([class*="col-0"]) {
  display: flex; }

[class*="col-"][class*="col-0"] {
  display: none; }

@media screen and (max-width: 80em) {
  [class*="grid"] > :not([class*="_lg-0"]) {
    display: block; }
  [class*="grid"]:not([class*="_lg-0"]) {
    display: flex; }
  [class*="grid"] > [class*="_lg-0"], [class*="grid"][class*="-equalHeight"] > [class*="_lg-0"] {
    display: none; } }
@media screen and (max-width: 64em) {
  [class*="grid"] > :not([class*="_md-0"]) {
    display: block; }
  [class*="grid"]:not([class*="_md-0"]) {
    display: flex; }
  [class*="grid"] > [class*="_md-0"], [class*="grid"][class*="-equalHeight"] > [class*="_md-0"] {
    display: none; } }
@media screen and (max-width: 48em) {
  [class*="grid"] > :not([class*="_sm-0"]) {
    display: block; }
  [class*="grid"]:not([class*="_sm-0"]) {
    display: flex; }
  [class*="grid"] > [class*="_sm-0"], [class*="grid"][class*="-equalHeight"] > [class*="_sm-0"] {
    display: none; } }
@media screen and (max-width: 35.5em) {
  [class*="grid"] > :not([class*="_xs-0"]) {
    display: block; }
  [class*="grid"]:not([class*="_xs-0"]) {
    display: flex; }
  [class*="grid"] > [class*="_xs-0"], [class*="grid"][class*="-equalHeight"] > [class*="_xs-0"] {
    display: none; } }
/* --- Layout --- */
.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1060px; }

@media (max-width: 1059px) {
  .container {
    padding: 0 20px;
    width: 100%; } }
header {
  padding-top: 3.75em;
  padding-bottom: 15em;
  text-align: center;
  background: #171735 url(../img/bg-header.jpg) 0 0 no-repeat; }
  header,
  header a {
    color: #fff; }
  header p {
    margin-top: 2.64706em;
    margin-bottom: 4.11765em;
    font-size: 1.7em;
    font-weight: normal; }
  @media (max-width: 810px) {
    header {
      padding-top: 1.32353em;
      padding-bottom: 7.5em; }
      header p {
        margin-top: 1.73077em;
        margin-bottom: 3.07692em;
        font-size: 1.3em; } }

.scroll-link {
  position: relative;
  font-size: 1.4em;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  text-decoration: none; }
  .scroll-link:before {
    content: '';
    position: absolute;
    bottom: -0.89286em;
    left: 50%;
    display: block;
    width: 0.71429em;
    height: 0.71429em;
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg) skew(-25deg, -25deg) translateX(-50%); }
  .scroll-link:after {
    content: '';
    position: absolute;
    bottom: -1.25em;
    left: 50%;
    display: block;
    width: 160px;
    height: 8px;
    background: url(../img/illu-scroll-link.svg) center 0 no-repeat;
    background-size: 160px 8px;
    transform: translateX(-50%); }
  @media (max-width: 810px) {
    .scroll-link {
      font-size: 1.1em; } }

footer {
  position: relative;
  margin-top: -215px;
  padding-top: 215px;
  min-height: 740px;
  background: #171735 url(../img/bg-footer.jpg) center bottom no-repeat; }
  footer,
  footer a {
    color: #fff; }
  footer:before {
    content: '';
    position: absolute;
    top: -185px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
    transform: skewY(-7deg) rotate(180deg);
    z-index: 1; }
  footer .container {
    margin-top: 140px; }
  footer nav {
    margin-bottom: 0; }
  footer .logo {
    float: left;
    font-size: 0.95em; }
    footer .logo:before, footer .logo:after {
      height: 1.78947em; }
    footer .logo img {
      height: 2.57895em; }
  footer .grid-middle {
    margin-bottom: 50px; }
  @media (max-width: 810px) {
    footer .logo {
      float: none; }
    footer .grid-middle {
      margin-bottom: 0; } }

.orders-links {
  text-align: right; }
  .orders-links a {
    display: block; }
    .orders-links a + a {
      margin-top: 50px; }
  @media (max-width: 810px) {
    .orders-links {
      text-align: center; } }

.popin-links {
  text-align: right; }
  .popin-links a {
    text-decoration: none; }
  @media (max-width: 810px) {
    .popin-links {
      padding-bottom: 20px;
      text-align: center; } }

/* --- Components --- */
nav {
  margin-bottom: 4.5em; }
  nav > div {
    display: inline-block;
    vertical-align: middle; }
    nav > div:before {
      content: '';
      display: inline-block;
      width: 4.75em;
      height: 3em;
      border: 1px solid #fff;
      border-right: 0;
      vertical-align: middle; }
  nav ul {
    display: inline-block;
    margin: 0;
    border: 1px solid #fff;
    border-left: 0;
    vertical-align: middle; }
  nav li {
    display: inline;
    font-size: 1em;
    line-height: 3em; }
    nav li:first-child {
      margin-left: 2.5em; }
    nav li:not(:first-of-type):before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 1.25em;
      margin-right: 1.25em;
      margin-left: 1.25em;
      background-color: #fff;
      vertical-align: middle; }
    nav li:last-child {
      margin-right: 3.5em; }
  nav a {
    position: relative;
    line-height: 1; }
    nav a:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      display: block;
      height: 2px;
      width: 0;
      background-color: #fff;
      transition: width 0.5s; }
    nav a:hover:before {
      width: 100%; }
  nav .home-link a:before {
    display: none; }
  @media (max-width: 810px) {
    nav {
      margin-bottom: 2.25em; }
      nav > div {
        margin-bottom: 1em;
        display: block;
        text-align: center; }
        nav > div:before {
          display: none; }
      nav ul {
        border-left: 1px solid; } }

/* /nav */
h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

h2 {
  font-size: 2.5em;
  font-style: italic;
  line-height: 1; }

ol,
ul {
  margin: 20px 0;
  padding-left: 0; }

ul {
  list-style-type: none; }
  ul li:before {
    content: ''; }
  ul ul {
    margin-left: 20px; }

form {
  position: relative;
  padding: 35px 30px;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  z-index: 2; }
  form:after {
    content: '';
    display: table;
    clear: both; }
  form div {
    display: table;
    width: 100%;
    margin-bottom: 20px; }
    form div:last-of-type label {
      vertical-align: top; }

/* Labels */
label {
  display: table-cell;
  width: 40%;
  font-size: 1.2em;
  vertical-align: bottom; }

/* Inputs */
input[type="text"],
input[type="phone"],
textarea {
  display: table-cell;
  padding: 10px;
  width: 100%;
  border: 1px solid; }

input[type="text"],
input[type="phone"] {
  border-color: transparent transparent #c5c5c4 transparent; }

textarea {
  border-color: #c5c5c4; }

[type="submit"] {
  position: relative;
  float: right;
  width: 240px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.1em;
  font-style: italic;
  color: #fff;
  text-align: center;
  line-height: 48px;
  background-color: #171735;
  border: none;
  border-radius: 3px; }
  [type="submit"] span:before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 10px;
    background: url(../img/ico-chevron.svg) 0 0 no-repeat;
    background-size: 7px 14px; }

@media (max-width: 810px) {
  label,
  input[type="text"],
  input[type="phone"] {
    display: block; } }
.logo {
  margin: 0;
  font-size: 1em;
  text-align: center;
  font-weight: normal; }
  .logo:before, .logo:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 1px;
    height: 42px;
    background-color: #fff; }
  .logo:before {
    margin-bottom: 10px; }
  .logo:after {
    margin-top: 10px; }
  .logo span {
    font-size: 1.2em; }
  .logo img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 3em; }

.logo-small {
  width: auto;
  height: 3.9em;
  vertical-align: middle; }

/* --- Pages --- */
/* --- Le cabinet --- */
#cabinet {
  position: relative;
  padding-bottom: 380px;
  color: #fff;
  background-color: #171735;
  z-index: 2; }
  #cabinet:after {
    position: absolute;
    bottom: -115px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 230px;
    background-color: #171735;
    transform: skewY(-7deg);
    z-index: -1; }
  #cabinet h2 {
    display: inline-block; }
    #cabinet h2:before {
      content: '';
      display: block;
      height: 1px;
      margin-bottom: 15px;
      background-color: #fff; }
    #cabinet h2 + h3 {
      margin-top: 20px;
      padding-top: 50px;
      border-top: 1px solid #c5c5c4; }
  #cabinet h3 {
    margin-top: 3.75em;
    margin-bottom: 0.83333em;
    font-size: 1.8em;
    font-style: italic; }
  #cabinet p {
    margin: 0 0 30px;
    font-family: Georgia, Times, "Times New Roman", serif; }
  #cabinet a {
    color: #b0976d; }
  #cabinet ol {
    counter-reset: cabinet; }
    #cabinet ol li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 2.08333em;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 1.2em;
      list-style-type: none;
      counter-increment: cabinet; }
      #cabinet ol li:before {
        position: absolute;
        top: -10px;
        left: 0;
        content: counter(cabinet) ".";
        font-family: Georgia, Times, "Times New Roman", serif;
        font-style: italic;
        font-size: 2.5em;
        line-height: 1;
        color: #b0976d; }

.bottom-cabinet {
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translate(-50%); }
  .bottom-cabinet, .bottom-cabinet:before, .bottom-cabinet:after, .bottom-cabinet > div {
    display: block;
    width: 1060px;
    height: 520px; }
  .bottom-cabinet:before, .bottom-cabinet:after {
    content: '';
    position: absolute;
    transform: skewY(-7deg); }
  .bottom-cabinet:before {
    top: -15px;
    left: -15px;
    border: 1px solid #b0976d; }
  .bottom-cabinet:after {
    top: -30px;
    left: -30px;
    border: 1px solid #c5c5c4; }
  .bottom-cabinet > div {
    position: relative;
    overflow: hidden;
    transform: skewY(-7deg);
    z-index: 3; }
    .bottom-cabinet > div > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: skewY(7deg) translate(-50%, -50%); }
  @media (max-width: 1059px) {
    .bottom-cabinet, .bottom-cabinet:before, .bottom-cabinet:after, .bottom-cabinet > div {
      width: 100%; } }

/* --- Nos services --- */
#services {
  margin-top: 350px;
  color: #282759; }
  #services .intro {
    margin-bottom: 90px;
    text-align: center; }
    #services .intro:before, #services .intro:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 1px;
      height: 90px;
      background-color: #171735; }
    #services .intro:before {
      margin-bottom: 1em; }
    #services .intro:after {
      margin-top: 1em; }
    #services .intro h2 {
      margin-bottom: 25px; }
    #services .intro p {
      margin: 0 auto;
      width: 80%;
      font-size: 1.2em;
      font-style: italic; }
  #services h3 {
    font-size: 1.4em;
    font-style: italic; }
  #services li {
    position: relative;
    padding: 0 1em;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #3c3c3b; }
    #services li:before {
      content: '';
      position: absolute;
      top: 0.7em;
      left: 0;
      display: block;
      width: 0.6em;
      height: 1px;
      background-color: #b0976d;
      line-height: 1; }
  #services img {
    margin-bottom: 40px;
    width: auto;
    height: 75px; }

.orga-formation {
  position: relative;
  margin-top: 25px;
  padding: 45px;
  background-color: #f4f4f4;
  border: 1px solid #b0976d; }
  .orga-formation img {
    position: absolute;
    top: -25px;
    left: 45px; }
  .orga-formation h3 {
    margin-top: 45px; }
  .orga-formation p {
    font-family: Georgia, Times, "Times New Roman", serif; }

.formations {
  position: relative;
  margin: 6.04167em 0 9.375em;
  padding: 2.08333em 0;
  font-size: 1.2em;
  font-style: italic; }
  .formations:before, .formations:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    width: 10.41667em;
    height: 1px;
    background-color: #c5c5c4;
    transform: translate(-50%); }
  .formations:before {
    top: 0; }
  .formations:after {
    bottom: 0; }
  .formations h3 {
    text-align: center; }
  .formations ul > li {
    font-family: "Playfair Display", sans-serif; }

/* --- Contact --- */
#contact {
  padding-top: 300px;
  position: relative;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #282759;
  background-color: #f4f4f4; }
  #contact:before {
    content: '';
    position: absolute;
    top: -110px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 205px;
    background-color: #f4f4f4;
    border-top: 8px solid #282759;
    transform: skewY(-7deg);
    z-index: -1; }
  #contact h2 {
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    margin-bottom: 55px;
    text-align: center; }
    #contact h2:before, #contact h2:after {
      content: '';
      display: block;
      width: 1px;
      height: 120px;
      margin: 0 auto;
      background-color: #282759; }
    #contact h2:before {
      margin-bottom: 40px; }
    #contact h2:after {
      margin-top: 40px; }
  #contact h3 {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.5em; }
    #contact h3 p {
      margin-top: 0.5em;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 0.7em;
      font-weight: normal; }
      #contact h3 p:before {
        content: '';
        display: block;
        width: 70%;
        height: 1px;
        margin-bottom: 0.5em;
        background-color: #c5c5c4; }
  #contact ul {
    position: relative;
    font-size: 0.95em;
    z-index: 2; }
    #contact ul li {
      position: relative;
      margin-bottom: 1.42857em;
      padding-left: 1.42857em; }
      #contact ul li:before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        background-position: 0 0;
        background-repeat: no-repeat; }
      #contact ul li.phone:before {
        top: 3px;
        width: 14px;
        height: 24px;
        background-image: url(../img/ico-phone.svg); }
      #contact ul li.email a {
        text-decoration: none; }
      #contact ul li.email:before {
        top: 7px;
        width: 17px;
        height: 11px;
        background-image: url(../img/ico-email.svg); }
      #contact ul li.address:before {
        top: 4px;
        width: 13px;
        height: 30px;
        background-image: url(../img/ico-address.svg); }
    #contact ul span,
    #contact ul a {
      display: block; }
    #contact ul a {
      color: #282759; }

/*# sourceMappingURL=styles.css.map */
