@charset "UTF-8";

header {
  padding-top: em(75);
  padding-bottom: em(300);
  text-align: center;
  background: $bg-blue url(../img/bg-header.jpg) 0 0 no-repeat;

  &,
  a {
    color: #fff;
  }

  p {
    margin-top: em(90,34);
    margin-bottom: em(140,34);
    font-size: em(34);
    font-weight: normal;
  } 

  @media (max-width:$mobile-large) {
    & {
      padding-top: em(45,34);
      padding-bottom: em(150);

      p {
        margin-top: em(45,26);
        margin-bottom: em(80,26);
        font-size: em(20);
      }
    }
  }
}

.menu-mobile {
  display: none;

  @media (max-width:810px) {
    display: block;
    float: left;
  }

  .burger {
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    z-index: 3;

    &::before,
    .bar,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 12%;
      background: white;
      content: '';
      transition: all .5s;
    }
    .bar {
      top: 44%;
    }
    &::before {
      top: 0;
      transform-origin: top left;
    }
    &::after {
      bottom: 0;
      transform-origin: bottom left;
    }
  }
}

.is-open {

  .burger {
    z-index: 7;

    &::before,
    &::after {
      width: 141.42%; // Pythagore!
      background-color: $font-color;
    }
    &::before {
      transform: rotate(45deg) translateY(-50%);
    }
    &::after {
      transform: rotate(-45deg) translateY(50%);
    }

    .bar {
      transform: scale(0.1);
    }
  }

  & nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: #fff;
    z-index: 6;
    transform: translateX(0);
  }
  & + label + #main-nav ul {
    z-index: 7;
  }
  & + label + #main-nav li {
    margin: 0;
    display: block;
  }
  & + label + #main-nav li:before {
    display: none;
  }
  & + label + #main-nav a {
    color: $font-color;
  }
}


.bottom-links {

  @media(max-width:768px) {
    > div {
      &:first-child {
        order:2;
        margin-bottom: em(20);
      }
      &:nth-child(2) {
        order:1;
      }
      &:last-child {
        order:3;
      }
    }
  }
}

.scroll-link {
  display: block;
  position: relative;
  font-size: em(28);
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    bottom: em(-25, 28);
    left: 50%;
    display: block;
    width: em(20,28);
    height: em(20,28);
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg) skew(-25deg, -25deg) translateX(-50%);
  } 

  &:after {
    content: '';
    position: absolute;
    bottom: em(-30,28);
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 160px;
    height: 8px;
    background: url(../img/illu-scroll-link.svg) center 0 no-repeat;
    background-size: 160px 8px;
  }

  @media (max-width:768px) {
    margin-bottom: em(40,22);
    font-size: em(22);
  }
} 



