@charset "UTF-8";

header {
  padding-top: em(75);
  padding-bottom: em(300);
  text-align: center;
  background: $bg-blue url(../img/bg-header.jpg) 0 0 no-repeat;

  &,
  a {
    color: #fff;
  }

  p {
    margin-top: em(90,34);
    margin-bottom: em(140,34);
    font-size: em(34);
  } 
  
  @media (max-width:$mobile-large) {
    & {
      padding-top: em(45,34);
      padding-bottom: em(150);
      
      p {
        margin-top: em(45,26);
        margin-bottom: em(80,26);
        font-size: em(26);
      }
    }
  }

}

.scroll-link {
  position: relative;
  font-size: em(28);
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  text-decoration: none;
  
  &:before {
    content: '';
    position: absolute;
    bottom: em(-25, 28);
    left: 50%;
    display: block;
    width: em(20,28);
    height: em(20,28);
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg) skew(-20deg, -20deg) translateX(50%);
  } 
  
  @media (max-width:$mobile-large) {
    & {
      font-size: em(22);
    }
  }
} 