@charset "UTF-8";

/* --- Le cabinet --- */
.cabinet {
  color: #fff;
  background-color: $bg-blue;
} 

/* --- Nos services --- */
.services {
  color: $font-blue;
} 

/* --- Contact --- */
.contact {
  color: $font-blue;
} 